@page
@model KoiPondConstruct.RazorApp.Pages.CusRequest.EditModel

@{
    ViewData["Title"] = "Edit Customer Request";
}

<h1>Edit Customer Request</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="getCustomerRequestUpdateDTO.Id" />

     

            <div class="form-group">
                <label asp-for="getCustomerRequestUpdateDTO.Description" class="control-label"></label>
                <input asp-for="getCustomerRequestUpdateDTO.Description" class="form-control" />
                <span asp-validation-for="getCustomerRequestUpdateDTO.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="getCustomerRequestUpdateDTO.Priority" class="control-label"></label>
                <input asp-for="getCustomerRequestUpdateDTO.Priority" class="form-control" />
                <span asp-validation-for="getCustomerRequestUpdateDTO.Priority" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="getCustomerRequestUpdateDTO.CreatedTime" class="control-label"></label>
                <input asp-for="getCustomerRequestUpdateDTO.CreatedTime" class="form-control" readonly />
                <span asp-validation-for="getCustomerRequestUpdateDTO.CreatedTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="getCustomerRequestUpdateDTO.UpdatedTime" class="control-label"></label>
                <input asp-for="getCustomerRequestUpdateDTO.UpdatedTime" class="form-control" />
                <span asp-validation-for="getCustomerRequestUpdateDTO.UpdatedTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="getCustomerRequestUpdateDTO.StartDate" class="control-label"></label>
                <input asp-for="getCustomerRequestUpdateDTO.StartDate" class="form-control" />
                <span asp-validation-for="getCustomerRequestUpdateDTO.StartDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="getCustomerRequestUpdateDTO.EndDate" class="control-label"></label>
                <input asp-for="getCustomerRequestUpdateDTO.EndDate" class="form-control" />
                <span asp-validation-for="getCustomerRequestUpdateDTO.EndDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="getCustomerRequestUpdateDTO.Status" class="control-label"></label>
                <input asp-for="getCustomerRequestUpdateDTO.Status" class="form-control" />
                <span asp-validation-for="getCustomerRequestUpdateDTO.Status" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="getCustomerRequestUpdateDTO.IsDeleted" /> Is Deleted
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
